@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Electives/**/*';
@source '../../../../resources/views/filament/electives/**/*';

@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
